.env
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
backend/.venv/

*.db
*.joblib
*.parquet

data/*
!data/.gitkeep
!data/raw/
data/raw/*
!data/raw/.gitkeep
!data/raw/cftc/
data/raw/cftc/*
!data/raw/cftc/.gitkeep
!data/features/
data/features/*
!data/features/.gitkeep
!data/models/
data/models/*
!data/models/.gitkeep
logs/*
!logs/.gitkeep
